.app-container {
  background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.appointment-container {
  background-color: #fff;
  border-radius: 8px;
  width: 80%;
  padding: 30px 20px;
}
.image {
  display: none;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}

.title {
  font-size: 24px;
  font-family: 'Roboto';
  color: #171f46;
  font-weight: 500;
}
.line {
  width: 100%;
  border: 1px solid #b5b7c4;
  margin-top: 25px;
}
.appointment-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.appointments-heading {
  font-size: 24px;
  font-family: 'Roboto';
  color: #171f46;
  font-weight: 500;
}
.starred-btn {
  background-color: transparent;
  border: 1px solid #9897f0;
  border-radius: 14px;
  font-size: 12px;
  font-family: 'Roboto';
  color: #9897f0;
  padding: 4px 10px;
  font-weight: 500;
}
