.app-container {
  background-image: linear-gradient(to bottom, #fbc7d4, #9796f0);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.responsive-container {
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  border-radius: 12px;
  max-width: 550px;
}
.appointment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 86%;
  max-width: 972px;
}
.add-appointment-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 64px;
}
.add-appointment-heading {
  color: #171f46;
  font-size: 22px;
  font-family: "Roboto";
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 24px;
}
.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.label {
  color: #7e858e;
  font-size: 12px;
  font-family: 'Roboto';
  font-weight: 500;
}
.input {
  color: #171f46;
  font-family: 'Roboto';
  font-size: 12px;
  border: 1px solid #7e858e;
  border-radius: 4px;
  height: 40px;
  padding-left: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 24px;
  outline: none;
}
.add-button {
  align-self: flex-start;
  background-color: #8b5cf6;
  color: #fff;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  border: none;
  padding: 8px 16px;
  outline: none;
  cursor: pointer;
}
.image {
  display: none;
}

.title {
  font-size: 24px;
  font-family: 'Roboto';
  color: #171f46;
  font-weight: 500;
}
.line {
  width: 100%;
  border: 1px solid #b5b7c4;
  margin-top: 25px;
  margin-bottom: 32px;
}
.header-with-filter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
}
.appointments-heading {
  font-size: 20px;
  font-family: 'Roboto';
  color: #171f46;
  font-weight: 500;
  margin: 0;
}
.starred-btn {
  border-radius: 25px;
  font-size: 12px;
  font-family: 'Roboto';
  padding: 4px 16px;
  font-weight: 600;
  border: none;
  outline: none;
}
.filter-filled {
  color: #fff;
  background-color: #9897f0;
}
.filter-empty {
  color: #9897f0;
  background-color: white;
  border: 1px solid #9897f0;
}
.appointments-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin-top: 24px;
}
